<div id="<%= dom_id product %>">
  <p>
    <strong>Title:</strong>
    <%= product.title %>
  </p>

  <p>
    <strong>Short description:</strong>
    <%= product.short_description %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Original price:</strong>
    <%= product.original_price %>
  </p>

  <p>
    <strong>Final price:</strong>
    <%= product.final_price %>
  </p>

  <p>
    <strong>Avatar:</strong>
    <%= product.avatar %>
  </p>

</div>
